<div class="new-hero">
  <h1>Furniture Store</h1>
  <p>Welcome to our Shopify Theme</p>
</div>

{% schema %}
{
  "name": "New Hero",
  "presets": [
    {
      "name": "New Hero"
    }
  ]
}
{% endschema %}